html {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  padding: 1rem;
  max-width: 39rem;
  line-height: 1.6;
}

footer {
  margin: 2rem 0;
  color: #444;
}

pre {
  padding: 1rem;
  overflow: auto;
}

code {
  padding: .25rem;
}

pre > code {
  padding: 0;
}

pre, code {
  background-color: #f5f7fa;
}

img {
  max-width: 100%;
  border: 1px solid black;
}

figcaption {
  text-align: center;
  color: #444;
}

nav {
  margin: 1rem 0 1.2rem;
  font-size: .9rem;
}

h1 {
  margin-bottom: .2rem;
}

td {
  padding: .2rem;
  vertical-align: top;
}

time {
  font: .8rem monospace;
  color: #444;
}

.h-time {
  display: block;
  font-weight: normal;
}
