html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
}

pre {
  padding: 1rem;
  overflow: auto;
}

code {
  padding: .25rem;
  font-size: .9rem;
}

pre > code {
  padding: 0;
  font-size: .75rem;
}

pre, code {
  background-color: #f5f7fa;
}

img {
  max-width: 100%;
  border: 1px solid black;
}

nav {
  margin: 1rem 0 1.2rem;
  font-size: .9rem;
}

h1 {
  margin-bottom: .2rem;
}

time {
  font-size: .9rem;
  color: #444;
}

@media screen and (min-width: 600px) {
  body {
    max-width: 37rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
